body {
    font-family: sans-serif;
    background: purple;
    font-size: 64px;
}

.title {
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#greeting {
    font-style: italic;
    text-shadow: 1px 2px 0px black;
}